html { 
	background-color: #B2E0F0;
	font-family: helvetica, sans-serif;
	/*font-family: 'Lobster', cursive;*/
	color: white; /*This is the color for fonts*/
	height: 100vh;
}
h1, h2, h3{
	font-family: 'lobster', cuesive;
	color: grey;
}
a{
	color: red;
}

a:hover{
	color: orange;
}
b{
	color: grey;
}
em{
	color: grey;
}

.defined-class